/*
 * ExoscalePublicAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.exoscale.apichgva2.controllers;

import com.exoscale.apichgva2.ApiHelper;
import com.exoscale.apichgva2.Server;
import com.exoscale.apichgva2.exceptions.ApiException;
import com.exoscale.apichgva2.http.request.HttpMethod;
import com.exoscale.apichgva2.models.DbaasCaCertificateResponse;
import com.exoscale.apichgva2.models.DbaasGrafanaRequest;
import com.exoscale.apichgva2.models.DbaasGrafanaRequest1;
import com.exoscale.apichgva2.models.DbaasIntegration;
import com.exoscale.apichgva2.models.DbaasIntegrationRequest;
import com.exoscale.apichgva2.models.DbaasIntegrationRequest1;
import com.exoscale.apichgva2.models.DbaasIntegrationSettingsDestTypeResponse;
import com.exoscale.apichgva2.models.DbaasIntegrationTypesResponse;
import com.exoscale.apichgva2.models.DbaasKafkaAcls;
import com.exoscale.apichgva2.models.DbaasKafkaRequest;
import com.exoscale.apichgva2.models.DbaasKafkaRequest1;
import com.exoscale.apichgva2.models.DbaasKafkaSchemaRegistryAclEntry;
import com.exoscale.apichgva2.models.DbaasKafkaTopicAclEntry;
import com.exoscale.apichgva2.models.DbaasKafkaUserPasswordResetRequest;
import com.exoscale.apichgva2.models.DbaasKafkaUserRequest;
import com.exoscale.apichgva2.models.DbaasMigrationStatus;
import com.exoscale.apichgva2.models.DbaasMysqlDatabaseRequest;
import com.exoscale.apichgva2.models.DbaasMysqlRequest;
import com.exoscale.apichgva2.models.DbaasMysqlRequest1;
import com.exoscale.apichgva2.models.DbaasMysqlUserPasswordResetRequest;
import com.exoscale.apichgva2.models.DbaasMysqlUserRequest;
import com.exoscale.apichgva2.models.DbaasOpensearchAclConfig;
import com.exoscale.apichgva2.models.DbaasOpensearchRequest;
import com.exoscale.apichgva2.models.DbaasOpensearchRequest1;
import com.exoscale.apichgva2.models.DbaasOpensearchUserPasswordResetRequest;
import com.exoscale.apichgva2.models.DbaasOpensearchUserRequest;
import com.exoscale.apichgva2.models.DbaasPostgresConnectionPoolRequest;
import com.exoscale.apichgva2.models.DbaasPostgresConnectionPoolRequest1;
import com.exoscale.apichgva2.models.DbaasPostgresDatabaseRequest;
import com.exoscale.apichgva2.models.DbaasPostgresRequest;
import com.exoscale.apichgva2.models.DbaasPostgresRequest1;
import com.exoscale.apichgva2.models.DbaasPostgresUpgradeCheckRequest;
import com.exoscale.apichgva2.models.DbaasPostgresUserAllowReplicationRequest;
import com.exoscale.apichgva2.models.DbaasPostgresUserPasswordResetRequest;
import com.exoscale.apichgva2.models.DbaasPostgresUserRequest;
import com.exoscale.apichgva2.models.DbaasPostgresUsers;
import com.exoscale.apichgva2.models.DbaasRedisRequest;
import com.exoscale.apichgva2.models.DbaasRedisRequest1;
import com.exoscale.apichgva2.models.DbaasServiceGrafana;
import com.exoscale.apichgva2.models.DbaasServiceKafka;
import com.exoscale.apichgva2.models.DbaasServiceLogs;
import com.exoscale.apichgva2.models.DbaasServiceLogsRequest;
import com.exoscale.apichgva2.models.DbaasServiceMetricsRequest;
import com.exoscale.apichgva2.models.DbaasServiceMetricsResponse;
import com.exoscale.apichgva2.models.DbaasServiceMysql;
import com.exoscale.apichgva2.models.DbaasServiceOpensearch;
import com.exoscale.apichgva2.models.DbaasServicePg;
import com.exoscale.apichgva2.models.DbaasServiceRedis;
import com.exoscale.apichgva2.models.DbaasServiceResponse;
import com.exoscale.apichgva2.models.DbaasServiceType;
import com.exoscale.apichgva2.models.DbaasServiceTypeResponse;
import com.exoscale.apichgva2.models.DbaasSettingsGrafanaResponse;
import com.exoscale.apichgva2.models.DbaasSettingsKafkaResponse;
import com.exoscale.apichgva2.models.DbaasSettingsMysqlResponse;
import com.exoscale.apichgva2.models.DbaasSettingsOpensearchResponse;
import com.exoscale.apichgva2.models.DbaasSettingsPgResponse;
import com.exoscale.apichgva2.models.DbaasSettingsRedisResponse;
import com.exoscale.apichgva2.models.DbaasTask;
import com.exoscale.apichgva2.models.DbaasTaskMigrationCheckRequest;
import com.exoscale.apichgva2.models.Operation;
import com.fasterxml.jackson.core.JsonProcessingException;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.UUID;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class DbaasController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public DbaasController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * @param  name  Required parameter: Example:
     * @return    Returns the DbaasOpensearchAclConfig response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DbaasOpensearchAclConfig getDbaasOpensearchAclConfig(
            final String name) throws ApiException, IOException {
        return prepareGetDbaasOpensearchAclConfigRequest(name).execute();
    }

    /**
     * @param  name  Required parameter: Example:
     * @return    Returns the DbaasOpensearchAclConfig response from the API call
     */
    public CompletableFuture<DbaasOpensearchAclConfig> getDbaasOpensearchAclConfigAsync(
            final String name) {
        try { 
            return prepareGetDbaasOpensearchAclConfigRequest(name).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for getDbaasOpensearchAclConfig.
     */
    private ApiCall<DbaasOpensearchAclConfig, ApiException> prepareGetDbaasOpensearchAclConfigRequest(
            final String name) throws IOException {
        return new ApiCall.Builder<DbaasOpensearchAclConfig, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-opensearch/{name}/acl-config")
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, DbaasOpensearchAclConfig.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  name  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation updateDbaasOpensearchAclConfig(
            final String name,
            final DbaasOpensearchAclConfig body) throws ApiException, IOException {
        return prepareUpdateDbaasOpensearchAclConfigRequest(name, body).execute();
    }

    /**
     * @param  name  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> updateDbaasOpensearchAclConfigAsync(
            final String name,
            final DbaasOpensearchAclConfig body) {
        try { 
            return prepareUpdateDbaasOpensearchAclConfigRequest(name, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for updateDbaasOpensearchAclConfig.
     */
    private ApiCall<Operation, ApiException> prepareUpdateDbaasOpensearchAclConfigRequest(
            final String name,
            final DbaasOpensearchAclConfig body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-opensearch/{name}/acl-config")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  name  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation startDbaasGrafanaMaintenance(
            final String name) throws ApiException, IOException {
        return prepareStartDbaasGrafanaMaintenanceRequest(name).execute();
    }

    /**
     * @param  name  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> startDbaasGrafanaMaintenanceAsync(
            final String name) {
        try { 
            return prepareStartDbaasGrafanaMaintenanceRequest(name).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for startDbaasGrafanaMaintenance.
     */
    private ApiCall<Operation, ApiException> prepareStartDbaasGrafanaMaintenanceRequest(
            final String name) throws IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-grafana/{name}/maintenance/start")
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Check whether you can upgrade Postgres service to a newer version.
     * @param  service  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the DbaasTask response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DbaasTask createDbaasPgUpgradeCheck(
            final String service,
            final DbaasPostgresUpgradeCheckRequest body) throws ApiException, IOException {
        return prepareCreateDbaasPgUpgradeCheckRequest(service, body).execute();
    }

    /**
     * Check whether you can upgrade Postgres service to a newer version.
     * @param  service  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the DbaasTask response from the API call
     */
    public CompletableFuture<DbaasTask> createDbaasPgUpgradeCheckAsync(
            final String service,
            final DbaasPostgresUpgradeCheckRequest body) {
        try { 
            return prepareCreateDbaasPgUpgradeCheckRequest(service, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for createDbaasPgUpgradeCheck.
     */
    private ApiCall<DbaasTask, ApiException> prepareCreateDbaasPgUpgradeCheckRequest(
            final String service,
            final DbaasPostgresUpgradeCheckRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<DbaasTask, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-postgres/{service}/upgrade-check")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("service").value(service)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, DbaasTask.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * If no password is provided one will be generated automatically.
     * @param  serviceName  Required parameter: Example:
     * @param  username  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation resetDbaasMysqlUserPassword(
            final String serviceName,
            final String username,
            final DbaasMysqlUserPasswordResetRequest body) throws ApiException, IOException {
        return prepareResetDbaasMysqlUserPasswordRequest(serviceName, username, body).execute();
    }

    /**
     * If no password is provided one will be generated automatically.
     * @param  serviceName  Required parameter: Example:
     * @param  username  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> resetDbaasMysqlUserPasswordAsync(
            final String serviceName,
            final String username,
            final DbaasMysqlUserPasswordResetRequest body) {
        try { 
            return prepareResetDbaasMysqlUserPasswordRequest(serviceName, username, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for resetDbaasMysqlUserPassword.
     */
    private ApiCall<Operation, ApiException> prepareResetDbaasMysqlUserPasswordRequest(
            final String serviceName,
            final String username,
            final DbaasMysqlUserPasswordResetRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-mysql/{service-name}/user/{username}/password/reset")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("service-name").value(serviceName)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("username").value(username)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation createDbaasPgConnectionPool(
            final String serviceName,
            final DbaasPostgresConnectionPoolRequest body) throws ApiException, IOException {
        return prepareCreateDbaasPgConnectionPoolRequest(serviceName, body).execute();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> createDbaasPgConnectionPoolAsync(
            final String serviceName,
            final DbaasPostgresConnectionPoolRequest body) {
        try { 
            return prepareCreateDbaasPgConnectionPoolRequest(serviceName, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for createDbaasPgConnectionPool.
     */
    private ApiCall<Operation, ApiException> prepareCreateDbaasPgConnectionPoolRequest(
            final String serviceName,
            final DbaasPostgresConnectionPoolRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-postgres/{service-name}/connection-pool")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("service-name").value(serviceName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Update a DBaaS MySQL service.
     * @param  name  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation updateDbaasServiceMysql(
            final String name,
            final DbaasMysqlRequest body) throws ApiException, IOException {
        return prepareUpdateDbaasServiceMysqlRequest(name, body).execute();
    }

    /**
     * Update a DBaaS MySQL service.
     * @param  name  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> updateDbaasServiceMysqlAsync(
            final String name,
            final DbaasMysqlRequest body) {
        try { 
            return prepareUpdateDbaasServiceMysqlRequest(name, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for updateDbaasServiceMysql.
     */
    private ApiCall<Operation, ApiException> prepareUpdateDbaasServiceMysqlRequest(
            final String name,
            final DbaasMysqlRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-mysql/{name}")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Get a DBaaS MySQL service.
     * @param  name  Required parameter: Example:
     * @return    Returns the DbaasServiceMysql response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DbaasServiceMysql getDbaasServiceMysql(
            final String name) throws ApiException, IOException {
        return prepareGetDbaasServiceMysqlRequest(name).execute();
    }

    /**
     * Get a DBaaS MySQL service.
     * @param  name  Required parameter: Example:
     * @return    Returns the DbaasServiceMysql response from the API call
     */
    public CompletableFuture<DbaasServiceMysql> getDbaasServiceMysqlAsync(
            final String name) {
        try { 
            return prepareGetDbaasServiceMysqlRequest(name).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for getDbaasServiceMysql.
     */
    private ApiCall<DbaasServiceMysql, ApiException> prepareGetDbaasServiceMysqlRequest(
            final String name) throws IOException {
        return new ApiCall.Builder<DbaasServiceMysql, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-mysql/{name}")
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, DbaasServiceMysql.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Create a DBaaS MySQL service.
     * @param  name  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation createDbaasServiceMysql(
            final String name,
            final DbaasMysqlRequest1 body) throws ApiException, IOException {
        return prepareCreateDbaasServiceMysqlRequest(name, body).execute();
    }

    /**
     * Create a DBaaS MySQL service.
     * @param  name  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> createDbaasServiceMysqlAsync(
            final String name,
            final DbaasMysqlRequest1 body) {
        try { 
            return prepareCreateDbaasServiceMysqlRequest(name, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for createDbaasServiceMysql.
     */
    private ApiCall<Operation, ApiException> prepareCreateDbaasServiceMysqlRequest(
            final String name,
            final DbaasMysqlRequest1 body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-mysql/{name}")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  name  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation deleteDbaasServiceMysql(
            final String name) throws ApiException, IOException {
        return prepareDeleteDbaasServiceMysqlRequest(name).execute();
    }

    /**
     * @param  name  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> deleteDbaasServiceMysqlAsync(
            final String name) {
        try { 
            return prepareDeleteDbaasServiceMysqlRequest(name).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for deleteDbaasServiceMysql.
     */
    private ApiCall<Operation, ApiException> prepareDeleteDbaasServiceMysqlRequest(
            final String name) throws IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-mysql/{name}")
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation createDbaasMysqlUser(
            final String serviceName,
            final DbaasMysqlUserRequest body) throws ApiException, IOException {
        return prepareCreateDbaasMysqlUserRequest(serviceName, body).execute();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> createDbaasMysqlUserAsync(
            final String serviceName,
            final DbaasMysqlUserRequest body) {
        try { 
            return prepareCreateDbaasMysqlUserRequest(serviceName, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for createDbaasMysqlUser.
     */
    private ApiCall<Operation, ApiException> prepareCreateDbaasMysqlUserRequest(
            final String serviceName,
            final DbaasMysqlUserRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-mysql/{service-name}/user")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("service-name").value(serviceName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * List available service types for DBaaS.
     * @return    Returns the DbaasServiceTypeResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DbaasServiceTypeResponse listDbaasServiceTypes() throws ApiException, IOException {
        return prepareListDbaasServiceTypesRequest().execute();
    }

    /**
     * List available service types for DBaaS.
     * @return    Returns the DbaasServiceTypeResponse response from the API call
     */
    public CompletableFuture<DbaasServiceTypeResponse> listDbaasServiceTypesAsync() {
        try { 
            return prepareListDbaasServiceTypesRequest().executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for listDbaasServiceTypes.
     */
    private ApiCall<DbaasServiceTypeResponse, ApiException> prepareListDbaasServiceTypesRequest() throws IOException {
        return new ApiCall.Builder<DbaasServiceTypeResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-service-type")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, DbaasServiceTypeResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * List DBaaS services.
     * @return    Returns the DbaasServiceResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DbaasServiceResponse listDbaasServices() throws ApiException, IOException {
        return prepareListDbaasServicesRequest().execute();
    }

    /**
     * List DBaaS services.
     * @return    Returns the DbaasServiceResponse response from the API call
     */
    public CompletableFuture<DbaasServiceResponse> listDbaasServicesAsync() {
        try { 
            return prepareListDbaasServicesRequest().executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for listDbaasServices.
     */
    private ApiCall<DbaasServiceResponse, ApiException> prepareListDbaasServicesRequest() throws IOException {
        return new ApiCall.Builder<DbaasServiceResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-service")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, DbaasServiceResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Returns a CA Certificate required to reach a DBaaS service through a TLS-protected
     * connection.
     * @return    Returns the DbaasCaCertificateResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DbaasCaCertificateResponse getDbaasCaCertificate() throws ApiException, IOException {
        return prepareGetDbaasCaCertificateRequest().execute();
    }

    /**
     * Returns a CA Certificate required to reach a DBaaS service through a TLS-protected
     * connection.
     * @return    Returns the DbaasCaCertificateResponse response from the API call
     */
    public CompletableFuture<DbaasCaCertificateResponse> getDbaasCaCertificateAsync() {
        try { 
            return prepareGetDbaasCaCertificateRequest().executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for getDbaasCaCertificate.
     */
    private ApiCall<DbaasCaCertificateResponse, ApiException> prepareGetDbaasCaCertificateRequest() throws IOException {
        return new ApiCall.Builder<DbaasCaCertificateResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-ca-certificate")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, DbaasCaCertificateResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Get DBaaS Grafana settings.
     * @return    Returns the DbaasSettingsGrafanaResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DbaasSettingsGrafanaResponse getDbaasSettingsGrafana() throws ApiException, IOException {
        return prepareGetDbaasSettingsGrafanaRequest().execute();
    }

    /**
     * Get DBaaS Grafana settings.
     * @return    Returns the DbaasSettingsGrafanaResponse response from the API call
     */
    public CompletableFuture<DbaasSettingsGrafanaResponse> getDbaasSettingsGrafanaAsync() {
        try { 
            return prepareGetDbaasSettingsGrafanaRequest().executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for getDbaasSettingsGrafana.
     */
    private ApiCall<DbaasSettingsGrafanaResponse, ApiException> prepareGetDbaasSettingsGrafanaRequest() throws IOException {
        return new ApiCall.Builder<DbaasSettingsGrafanaResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-settings-grafana")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, DbaasSettingsGrafanaResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  databaseName  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation deleteDbaasPgDatabase(
            final String serviceName,
            final String databaseName) throws ApiException, IOException {
        return prepareDeleteDbaasPgDatabaseRequest(serviceName, databaseName).execute();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  databaseName  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> deleteDbaasPgDatabaseAsync(
            final String serviceName,
            final String databaseName) {
        try { 
            return prepareDeleteDbaasPgDatabaseRequest(serviceName, databaseName).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for deleteDbaasPgDatabase.
     */
    private ApiCall<Operation, ApiException> prepareDeleteDbaasPgDatabaseRequest(
            final String serviceName,
            final String databaseName) throws IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-postgres/{service-name}/database/{database-name}")
                        .templateParam(param -> param.key("service-name").value(serviceName)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("database-name").value(databaseName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  name  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation stopDbaasPgMigration(
            final String name) throws ApiException, IOException {
        return prepareStopDbaasPgMigrationRequest(name).execute();
    }

    /**
     * @param  name  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> stopDbaasPgMigrationAsync(
            final String name) {
        try { 
            return prepareStopDbaasPgMigrationRequest(name).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for stopDbaasPgMigration.
     */
    private ApiCall<Operation, ApiException> prepareStopDbaasPgMigrationRequest(
            final String name) throws IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-postgres/{name}/migration/stop")
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  name  Required parameter: Example:
     * @return    Returns the DbaasServiceKafka response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DbaasServiceKafka getDbaasServiceKafka(
            final String name) throws ApiException, IOException {
        return prepareGetDbaasServiceKafkaRequest(name).execute();
    }

    /**
     * @param  name  Required parameter: Example:
     * @return    Returns the DbaasServiceKafka response from the API call
     */
    public CompletableFuture<DbaasServiceKafka> getDbaasServiceKafkaAsync(
            final String name) {
        try { 
            return prepareGetDbaasServiceKafkaRequest(name).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for getDbaasServiceKafka.
     */
    private ApiCall<DbaasServiceKafka, ApiException> prepareGetDbaasServiceKafkaRequest(
            final String name) throws IOException {
        return new ApiCall.Builder<DbaasServiceKafka, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-kafka/{name}")
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, DbaasServiceKafka.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Create a DBaaS Kafka service.
     * @param  name  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation createDbaasServiceKafka(
            final String name,
            final DbaasKafkaRequest body) throws ApiException, IOException {
        return prepareCreateDbaasServiceKafkaRequest(name, body).execute();
    }

    /**
     * Create a DBaaS Kafka service.
     * @param  name  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> createDbaasServiceKafkaAsync(
            final String name,
            final DbaasKafkaRequest body) {
        try { 
            return prepareCreateDbaasServiceKafkaRequest(name, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for createDbaasServiceKafka.
     */
    private ApiCall<Operation, ApiException> prepareCreateDbaasServiceKafkaRequest(
            final String name,
            final DbaasKafkaRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-kafka/{name}")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Update a DBaaS Kafka service.
     * @param  name  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation updateDbaasServiceKafka(
            final String name,
            final DbaasKafkaRequest1 body) throws ApiException, IOException {
        return prepareUpdateDbaasServiceKafkaRequest(name, body).execute();
    }

    /**
     * Update a DBaaS Kafka service.
     * @param  name  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> updateDbaasServiceKafkaAsync(
            final String name,
            final DbaasKafkaRequest1 body) {
        try { 
            return prepareUpdateDbaasServiceKafkaRequest(name, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for updateDbaasServiceKafka.
     */
    private ApiCall<Operation, ApiException> prepareUpdateDbaasServiceKafkaRequest(
            final String name,
            final DbaasKafkaRequest1 body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-kafka/{name}")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  name  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation deleteDbaasServiceKafka(
            final String name) throws ApiException, IOException {
        return prepareDeleteDbaasServiceKafkaRequest(name).execute();
    }

    /**
     * @param  name  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> deleteDbaasServiceKafkaAsync(
            final String name) {
        try { 
            return prepareDeleteDbaasServiceKafkaRequest(name).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for deleteDbaasServiceKafka.
     */
    private ApiCall<Operation, ApiException> prepareDeleteDbaasServiceKafkaRequest(
            final String name) throws IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-kafka/{name}")
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Returns the default settings for Redis.
     * @return    Returns the DbaasSettingsRedisResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DbaasSettingsRedisResponse getDbaasSettingsRedis() throws ApiException, IOException {
        return prepareGetDbaasSettingsRedisRequest().execute();
    }

    /**
     * Returns the default settings for Redis.
     * @return    Returns the DbaasSettingsRedisResponse response from the API call
     */
    public CompletableFuture<DbaasSettingsRedisResponse> getDbaasSettingsRedisAsync() {
        try { 
            return prepareGetDbaasSettingsRedisRequest().executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for getDbaasSettingsRedis.
     */
    private ApiCall<DbaasSettingsRedisResponse, ApiException> prepareGetDbaasSettingsRedisRequest() throws IOException {
        return new ApiCall.Builder<DbaasSettingsRedisResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-settings-redis")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, DbaasSettingsRedisResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  name  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation createDbaasKafkaSchemaRegistryAclConfig(
            final String name,
            final DbaasKafkaSchemaRegistryAclEntry body) throws ApiException, IOException {
        return prepareCreateDbaasKafkaSchemaRegistryAclConfigRequest(name, body).execute();
    }

    /**
     * @param  name  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> createDbaasKafkaSchemaRegistryAclConfigAsync(
            final String name,
            final DbaasKafkaSchemaRegistryAclEntry body) {
        try { 
            return prepareCreateDbaasKafkaSchemaRegistryAclConfigRequest(name, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for createDbaasKafkaSchemaRegistryAclConfig.
     */
    private ApiCall<Operation, ApiException> prepareCreateDbaasKafkaSchemaRegistryAclConfigRequest(
            final String name,
            final DbaasKafkaSchemaRegistryAclEntry body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-kafka/{name}/schema-registry/acl-config")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation createDbaasPostgresUser(
            final String serviceName,
            final DbaasPostgresUserRequest body) throws ApiException, IOException {
        return prepareCreateDbaasPostgresUserRequest(serviceName, body).execute();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> createDbaasPostgresUserAsync(
            final String serviceName,
            final DbaasPostgresUserRequest body) {
        try { 
            return prepareCreateDbaasPostgresUserRequest(serviceName, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for createDbaasPostgresUser.
     */
    private ApiCall<Operation, ApiException> prepareCreateDbaasPostgresUserRequest(
            final String serviceName,
            final DbaasPostgresUserRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-postgres/{service-name}/user")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("service-name").value(serviceName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  username  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation deleteDbaasOpensearchUser(
            final String serviceName,
            final String username) throws ApiException, IOException {
        return prepareDeleteDbaasOpensearchUserRequest(serviceName, username).execute();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  username  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> deleteDbaasOpensearchUserAsync(
            final String serviceName,
            final String username) {
        try { 
            return prepareDeleteDbaasOpensearchUserRequest(serviceName, username).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for deleteDbaasOpensearchUser.
     */
    private ApiCall<Operation, ApiException> prepareDeleteDbaasOpensearchUserRequest(
            final String serviceName,
            final String username) throws IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-opensearch/{service-name}/user/{username}")
                        .templateParam(param -> param.key("service-name").value(serviceName)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("username").value(username)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation createDbaasKafkaUser(
            final String serviceName,
            final DbaasKafkaUserRequest body) throws ApiException, IOException {
        return prepareCreateDbaasKafkaUserRequest(serviceName, body).execute();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> createDbaasKafkaUserAsync(
            final String serviceName,
            final DbaasKafkaUserRequest body) {
        try { 
            return prepareCreateDbaasKafkaUserRequest(serviceName, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for createDbaasKafkaUser.
     */
    private ApiCall<Operation, ApiException> prepareCreateDbaasKafkaUserRequest(
            final String serviceName,
            final DbaasKafkaUserRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-kafka/{service-name}/user")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("service-name").value(serviceName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Get DBaaS MySQL settings.
     * @return    Returns the DbaasSettingsMysqlResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DbaasSettingsMysqlResponse getDbaasSettingsMysql() throws ApiException, IOException {
        return prepareGetDbaasSettingsMysqlRequest().execute();
    }

    /**
     * Get DBaaS MySQL settings.
     * @return    Returns the DbaasSettingsMysqlResponse response from the API call
     */
    public CompletableFuture<DbaasSettingsMysqlResponse> getDbaasSettingsMysqlAsync() {
        try { 
            return prepareGetDbaasSettingsMysqlRequest().executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for getDbaasSettingsMysql.
     */
    private ApiCall<DbaasSettingsMysqlResponse, ApiException> prepareGetDbaasSettingsMysqlRequest() throws IOException {
        return new ApiCall.Builder<DbaasSettingsMysqlResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-settings-mysql")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, DbaasSettingsMysqlResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation createDbaasPgDatabase(
            final String serviceName,
            final DbaasPostgresDatabaseRequest body) throws ApiException, IOException {
        return prepareCreateDbaasPgDatabaseRequest(serviceName, body).execute();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> createDbaasPgDatabaseAsync(
            final String serviceName,
            final DbaasPostgresDatabaseRequest body) {
        try { 
            return prepareCreateDbaasPgDatabaseRequest(serviceName, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for createDbaasPgDatabase.
     */
    private ApiCall<Operation, ApiException> prepareCreateDbaasPgDatabaseRequest(
            final String serviceName,
            final DbaasPostgresDatabaseRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-postgres/{service-name}/database")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("service-name").value(serviceName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation createDbaasOpensearchUser(
            final String serviceName,
            final DbaasOpensearchUserRequest body) throws ApiException, IOException {
        return prepareCreateDbaasOpensearchUserRequest(serviceName, body).execute();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> createDbaasOpensearchUserAsync(
            final String serviceName,
            final DbaasOpensearchUserRequest body) {
        try { 
            return prepareCreateDbaasOpensearchUserRequest(serviceName, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for createDbaasOpensearchUser.
     */
    private ApiCall<Operation, ApiException> prepareCreateDbaasOpensearchUserRequest(
            final String serviceName,
            final DbaasOpensearchUserRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-opensearch/{service-name}/user")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("service-name").value(serviceName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Get DBaaS integration types.
     * @return    Returns the DbaasIntegrationTypesResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DbaasIntegrationTypesResponse listDbaasIntegrationTypes() throws ApiException, IOException {
        return prepareListDbaasIntegrationTypesRequest().execute();
    }

    /**
     * Get DBaaS integration types.
     * @return    Returns the DbaasIntegrationTypesResponse response from the API call
     */
    public CompletableFuture<DbaasIntegrationTypesResponse> listDbaasIntegrationTypesAsync() {
        try { 
            return prepareListDbaasIntegrationTypesRequest().executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for listDbaasIntegrationTypes.
     */
    private ApiCall<DbaasIntegrationTypesResponse, ApiException> prepareListDbaasIntegrationTypesRequest() throws IOException {
        return new ApiCall.Builder<DbaasIntegrationTypesResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-integration-types")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, DbaasIntegrationTypesResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  username  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation deleteDbaasPostgresUser(
            final String serviceName,
            final String username) throws ApiException, IOException {
        return prepareDeleteDbaasPostgresUserRequest(serviceName, username).execute();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  username  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> deleteDbaasPostgresUserAsync(
            final String serviceName,
            final String username) {
        try { 
            return prepareDeleteDbaasPostgresUserRequest(serviceName, username).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for deleteDbaasPostgresUser.
     */
    private ApiCall<Operation, ApiException> prepareDeleteDbaasPostgresUserRequest(
            final String serviceName,
            final String username) throws IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-postgres/{service-name}/user/{username}")
                        .templateParam(param -> param.key("service-name").value(serviceName)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("username").value(username)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  username  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the DbaasPostgresUsers response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DbaasPostgresUsers updateDbaasPostgresAllowReplication(
            final String serviceName,
            final String username,
            final DbaasPostgresUserAllowReplicationRequest body) throws ApiException, IOException {
        return prepareUpdateDbaasPostgresAllowReplicationRequest(serviceName, username,
                body).execute();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  username  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the DbaasPostgresUsers response from the API call
     */
    public CompletableFuture<DbaasPostgresUsers> updateDbaasPostgresAllowReplicationAsync(
            final String serviceName,
            final String username,
            final DbaasPostgresUserAllowReplicationRequest body) {
        try { 
            return prepareUpdateDbaasPostgresAllowReplicationRequest(serviceName, username,
            body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for updateDbaasPostgresAllowReplication.
     */
    private ApiCall<DbaasPostgresUsers, ApiException> prepareUpdateDbaasPostgresAllowReplicationRequest(
            final String serviceName,
            final String username,
            final DbaasPostgresUserAllowReplicationRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<DbaasPostgresUsers, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-postgres/{service-name}/user/{username}/allow-replication")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("service-name").value(serviceName)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("username").value(username)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, DbaasPostgresUsers.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  name  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation createDbaasKafkaTopicAclConfig(
            final String name,
            final DbaasKafkaTopicAclEntry body) throws ApiException, IOException {
        return prepareCreateDbaasKafkaTopicAclConfigRequest(name, body).execute();
    }

    /**
     * @param  name  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> createDbaasKafkaTopicAclConfigAsync(
            final String name,
            final DbaasKafkaTopicAclEntry body) {
        try { 
            return prepareCreateDbaasKafkaTopicAclConfigRequest(name, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for createDbaasKafkaTopicAclConfig.
     */
    private ApiCall<Operation, ApiException> prepareCreateDbaasKafkaTopicAclConfigRequest(
            final String name,
            final DbaasKafkaTopicAclEntry body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-kafka/{name}/topic/acl-config")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  databaseName  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation deleteDbaasMysqlDatabase(
            final String serviceName,
            final String databaseName) throws ApiException, IOException {
        return prepareDeleteDbaasMysqlDatabaseRequest(serviceName, databaseName).execute();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  databaseName  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> deleteDbaasMysqlDatabaseAsync(
            final String serviceName,
            final String databaseName) {
        try { 
            return prepareDeleteDbaasMysqlDatabaseRequest(serviceName, databaseName).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for deleteDbaasMysqlDatabase.
     */
    private ApiCall<Operation, ApiException> prepareDeleteDbaasMysqlDatabaseRequest(
            final String serviceName,
            final String databaseName) throws IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-mysql/{service-name}/database/{database-name}")
                        .templateParam(param -> param.key("service-name").value(serviceName)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("database-name").value(databaseName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Get logs of DBaaS service.
     * @param  serviceName  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the DbaasServiceLogs response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DbaasServiceLogs getDbaasServiceLogs(
            final String serviceName,
            final DbaasServiceLogsRequest body) throws ApiException, IOException {
        return prepareGetDbaasServiceLogsRequest(serviceName, body).execute();
    }

    /**
     * Get logs of DBaaS service.
     * @param  serviceName  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the DbaasServiceLogs response from the API call
     */
    public CompletableFuture<DbaasServiceLogs> getDbaasServiceLogsAsync(
            final String serviceName,
            final DbaasServiceLogsRequest body) {
        try { 
            return prepareGetDbaasServiceLogsRequest(serviceName, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for getDbaasServiceLogs.
     */
    private ApiCall<DbaasServiceLogs, ApiException> prepareGetDbaasServiceLogsRequest(
            final String serviceName,
            final DbaasServiceLogsRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<DbaasServiceLogs, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-service-logs/{service-name}")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("service-name").value(serviceName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, DbaasServiceLogs.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  name  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation startDbaasPgMaintenance(
            final String name) throws ApiException, IOException {
        return prepareStartDbaasPgMaintenanceRequest(name).execute();
    }

    /**
     * @param  name  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> startDbaasPgMaintenanceAsync(
            final String name) {
        try { 
            return prepareStartDbaasPgMaintenanceRequest(name).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for startDbaasPgMaintenance.
     */
    private ApiCall<Operation, ApiException> prepareStartDbaasPgMaintenanceRequest(
            final String name) throws IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-postgres/{name}/maintenance/start")
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  name  Required parameter: Example:
     * @param  aclId  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation deleteDbaasKafkaSchemaRegistryAclConfig(
            final String name,
            final String aclId) throws ApiException, IOException {
        return prepareDeleteDbaasKafkaSchemaRegistryAclConfigRequest(name, aclId).execute();
    }

    /**
     * @param  name  Required parameter: Example:
     * @param  aclId  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> deleteDbaasKafkaSchemaRegistryAclConfigAsync(
            final String name,
            final String aclId) {
        try { 
            return prepareDeleteDbaasKafkaSchemaRegistryAclConfigRequest(name, aclId).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for deleteDbaasKafkaSchemaRegistryAclConfig.
     */
    private ApiCall<Operation, ApiException> prepareDeleteDbaasKafkaSchemaRegistryAclConfigRequest(
            final String name,
            final String aclId) throws IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-kafka/{name}/schema-registry/acl-config/{acl-id}")
                        .templateParam(param -> param.key("name").value(name)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("acl-id").value(aclId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  username  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation deleteDbaasKafkaUser(
            final String serviceName,
            final String username) throws ApiException, IOException {
        return prepareDeleteDbaasKafkaUserRequest(serviceName, username).execute();
    }

    /**
     * @param  serviceName  Required parameter: Example:
     * @param  username  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     */
    public CompletableFuture<Operation> deleteDbaasKafkaUserAsync(
            final String serviceName,
            final String username) {
        try { 
            return prepareDeleteDbaasKafkaUserRequest(serviceName, username).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for deleteDbaasKafkaUser.
     */
    private ApiCall<Operation, ApiException> prepareDeleteDbaasKafkaUserRequest(
            final String serviceName,
            final String username) throws IOException {
        return new ApiCall.Builder<Operation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-kafka/{service-name}/user/{username}")
                        .templateParam(param -> param.key("service-name").value(serviceName)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("username").value(username)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Operation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Get a DBaaS service type.
     * @param  serviceTypeName  Required parameter: Example:
     * @return    Returns the DbaasServiceType response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public DbaasServiceType getDbaasServiceType(
            final String serviceTypeName) throws ApiException, IOException {
        return prepareGetDbaasServiceTypeRequest(serviceTypeName).execute();
    }

    /**
     * Get a DBaaS service type.
     * @param  serviceTypeName  Required parameter: Example:
     * @return    Returns the DbaasServiceType response from the API call
     */
    public CompletableFuture<DbaasServiceType> getDbaasServiceTypeAsync(
            final String serviceTypeName) {
        try { 
            return prepareGetDbaasServiceTypeRequest(serviceTypeName).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for getDbaasServiceType.
     */
    private ApiCall<DbaasServiceType, ApiException> prepareGetDbaasServiceTypeRequest(
            final String serviceTypeName) throws IOException {
        return new ApiCall.Builder<DbaasServiceType, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/dbaas-service-type/{service-type-name}")
                        .templateParam(param -> param.key("service-type-name").value(serviceTypeName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, DbaasServiceType.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  name  Required parameter: Example:
     * @return    Returns the Operation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Operation startDbaasMysqlMaintenance(
            final String name) throws ApiException, IOException {
[...]
