/*
 * ExoscalePublicAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.exoscale.apichgva2.controllers;

import com.exoscale.apichgva2.ApiHelper;
import com.exoscale.apichgva2.Server;
import com.exoscale.apichgva2.exceptions.ApiException;
import com.exoscale.apichgva2.http.request.HttpMethod;
import com.exoscale.apichgva2.models.Quota;
import com.exoscale.apichgva2.models.QuotaResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class QuotasController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public QuotasController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * @param  entity  Required parameter: Example:
     * @return    Returns the Quota response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public Quota getQuota(
            final String entity) throws ApiException, IOException {
        return prepareGetQuotaRequest(entity).execute();
    }

    /**
     * @param  entity  Required parameter: Example:
     * @return    Returns the Quota response from the API call
     */
    public CompletableFuture<Quota> getQuotaAsync(
            final String entity) {
        try { 
            return prepareGetQuotaRequest(entity).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for getQuota.
     */
    private ApiCall<Quota, ApiException> prepareGetQuotaRequest(
            final String entity) throws IOException {
        return new ApiCall.Builder<Quota, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/quota/{entity}")
                        .templateParam(param -> param.key("entity").value(entity)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, Quota.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @return    Returns the QuotaResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public QuotaResponse listQuotas() throws ApiException, IOException {
        return prepareListQuotasRequest().execute();
    }

    /**
     * @return    Returns the QuotaResponse response from the API call
     */
    public CompletableFuture<QuotaResponse> listQuotasAsync() {
        try { 
            return prepareListQuotasRequest().executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for listQuotas.
     */
    private ApiCall<QuotaResponse, ApiException> prepareListQuotasRequest() throws IOException {
        return new ApiCall.Builder<QuotaResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/quota")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, QuotaResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}